{% extends "base.html" %}

{% block title %}{{ lab.name }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'inventory:lab-list' %}">&laquo; Voltar para a lista de laboratórios</a>
    <hr>
    <h1 class="display-5 mt-4">{{ lab.name }}</h1>
    <p class="lead">{{ lab.description }}</p>

    <h3 class="mt-5">Equipamentos neste Laboratório</h3>
    <div class="list-group">
        {% for instance in lab.equipments.all %}
            <div class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ instance.equipment_type.name }}</h5>
                    <small>Status: <span class="badge rounded-pill text-bg-success">{{ instance.get_status_display }}</span></small>
                </div>
                <p class="mb-1">Marca: {{ instance.equipment_type.brand }}</p>
                <small>Número de Série: {{ instance.serial_number|default:"Não informado" }}</small>

                {% if instance.equipment_type.technical_manual %}
                    <br><a href="{{ instance.equipment_type.technical_manual.url }}" class="btn btn-sm btn-outline-info mt-2" target="_blank">Ver Manual Técnico</a>
                {% endif %}
            </div>
        {% empty %}
            <div class="list-group-item list-group-item-dark">
                <p class="mb-1">Nenhum equipamento cadastrado para este laboratório.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}