{% extends "base.html" %}

{% block title %}Meu Perfil{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <div class="card text-bg-dark border-secondary">
                <div class="card-header"><h2 class="mb-0">Editar Perfil</h2></div>
                <div class="card-body">

                    <div class="text-center mb-4">
                        
                        {% if user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" alt="Foto de Perfil" width="150" height="150" class="rounded img-thumbnail" style="object-fit: cover;">
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person- rounded text-secondary" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        {% endif %}

                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3">Salvar Alterações</button>
                    </form>

                    <hr>
                    <h4>Segurança da Conta</h4>
                    <p>
                        <a href="{% url 'account_change_password' %}">Mudar minha senha</a><br>
                        <a href="{% url 'account_email' %}">Gerenciar meus e-mails</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}