{% extends "base.html" %}

{% block title %}Bem-vindo ao LabLauncher{% endblock %}

{% block content %}
<div class="container text-center py-5">
    <h1 class="display-3">Construa o Futuro.<br>Peça por Peça.</h1>
    <p class="lead col-lg-8 mx-auto">
        O catálogo aberto de peças e projetos de robótica para estudantes, hobbistas e criadores.
    </p>
    <hr class="my-4">
    <p>Pronto para começar?</p>
    <a class="btn btn-accent btn-lg" href="{% url 'catalog:project-list' %}" role="button">Explorar Projetos</a>
    <a class="btn btn-outline-light btn-lg" href="{% url 'catalog:part-list' %}" role="button">Explorar Peças</a>
</div>
{% endblock %}