<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao LabLauncher!</title>
    <style>
        body { font-family: sans-serif; text-align: center; padding-top: 50px; background-color: #f3f3e0; color: #183b4e; }
        h1 { color: #27548a; }
    </style>
</head>
<body>
    <h1>Bem-vindo ao LabLauncher!</h1>
    <p>A sua plataforma de robótica da Kaizo.</p>
    <p>O deploy foi um sucesso! O site está no ar.</p>
    <br><br>
    <h2>Explorar Catálogos</h2>
    <p><a href="{% url 'catalog:part-list' %}">Ver Catálogo de Peças</a></p>
    <p><a href="{% url 'catalog:project-list' %}">Ver Catálogo de Projetos</a></p>
</body>
</html>