{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaizo - Soluções em Tecnologia Educacional</title>
    <link rel="icon" href="{% static 'images/logos/lablauncher.svg' %}" type="image/svg+xml">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/kaizo_main.css' %}">
    
</head>
<body>

    <header>
        <nav class="container">
            <a href="#" class="nav-logo"><img src="{% static "images/logos/kaizoLogo.png" %}" alt="Logo Kaizo"></a>
            <ul class="nav-links">
                <li><a href="{% url 'kaizo_view' %}">Home</a></li>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'kaizo_view' %}#templates-sectionn">Obras</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
            </ul>

            <div class="nav-actions">
                <!--
                <a href="#" class="btn btn-login">Log In</a>
                -->
                <a href="#" class="btn btn-primary">LabLauncher</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero container">
            
            <div class="hero-content">
                <h1>Exploradores da Computação<span class="h1-2"> está chegando</span></h1>
                <p>
                    <b>A primeira coleção de Computação do Brasil que acompanha o aluno do 1º ao 9º ano</b> — de forma contínua, progressiva e 100% alinhada à BNCC.
                    <br><br>
                    Não é apenas um material didático. <b>É uma trilha de formação digital completa,</b> com aulas plugadas e desplugadas, especialmente construídas
                     para desenvolver as competências do futuro — passo a passo, ano após ano, com a segurança da BNCC e a força da prática real em cada atividade.
                </p>
                
            </div>

            <div class="hero-animation">
                <div class="swiper hero-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{% static "images/heros/hero1.png" %}" alt="Exemplo 1">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% static "images/heros/hero2.png" %}" alt="Exemplo 2">
                        </div>
                        <div class="swiper-slide">
                            <img src="{% static "images/heros/hero3.png" %}" alt="Exemplo 3">
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="features">
            <div class="container">
                
                <div class="section-title">
                    <h2>O ensino não é mais linear.<br>É vivo, contínuo e digital como a Kaizo.</h2>
                    <p>O ensino está mudando de forma irreversível. A Kaizo é o ecossistema que já opera nesse novo
                         modelo, onde tecnologia, pessoas e conteúdo avançam juntos em um ciclo contínuo de inovação.</p>
                </div>

                <div class="features-grid">
                    
                    <div class="feature-item">
                        
                        <h2>Soluções</h2>
                        <p> <b>Nós não acompanhamos a educação do futuro. Nós estamos construindo ela, agora.</b><br><br>
                            A Kaizo nasceu para redefinir o que é ensinar tecnologia no Brasil. Não entregamos 
                            apenas “soluções”. Criamos um ecossistema completo que une infraestrutura, conteúdo,
                             inovação pedagógica e inteligência digital — tudo evoluindo em tempo real para
                              transformar a experiência de alunos e professores. </p>
                    </div>

                    <div class="feature-item">
                        
                        <h2>Tecnologia</h2>
                        <p><b>Tecnologia que se adapta à escola. Conteúdo que transforma alunos em protagonistas.</b><br><br>
                            Nossa inteligência pedagógica une infraestrutura digital de ponta com experiências
                             ativas de aprendizagem. Cada recurso foi criado para desenvolver competências reais,
                              formar mentes criativas e preparar estudantes para liderar o mundo digital.</p>
                    </div>

                    <div class="feature-item">
                        
                        <h2>Pessoas</h2>
                        <p><b>Um time movido por propósito e pela ousadia de transformar o país pela educação.</b><br><br>
                            Não somos apenas especialistas. Somos educadores visionários, unidos por uma missão:
                             revolucionar o ensino público brasileiro com soluções acessíveis, modernas e poderosas 
                             — sem deixar ninguém para trás.</p>
                    </div>

                </div>
            </div>
        </section>

        <section id="templates-sectionn" class="templates-section">
            <div class="container">
                <div class="section-title">
                    <h2>Comece selecionando um template gratuito</h2>
                    <p>Modelos modernos e aprovados por recrutadores.</p>
                </div>

                <div class="swiper templates-swiper">
                    <div class="swiper-wrapper">
                        
                        <div class="swiper-slide">
                            <a href="#" class="template-card">
                                <img src="{% static "images/capas/e1.jpg" %}" alt="Template 1">
                            </a>
                        </div>

                        <div class="swiper-slide">
                            <a href="#" class="template-card">
                                <img src="{% static "images/capas/e2.jpg" %}" alt="Template 2">
                            </a>
                        </div>

                        <div class="swiper-slide">
                             <a href="#" class="template-card">
                                <img src="{% static "images/capas/e3.jpg" %}" alt="Template 3">
                            </a>
                        </div>

                        <div class="swiper-slide">
                             <a href="#" class="template-card">
                                <img src="{% static "images/capas/e4.jpg" %}" alt="Template 4">
                            </a>
                        </div>

                        <div class="swiper-slide">
                             <a href="#" class="template-card">
                                <img src="{% static "images/capas/e5.jpg" %}" alt="Template 5">
                            </a>
                        </div>

                        <div class="swiper-slide">
                             <a href="#" class="template-card">
                                <img src="{% static "images/capas/e6.jpg" %}" alt="Template 6">
                            </a>
                        </div>

                        <div class="swiper-slide">
                             <a href="#" class="template-card">
                                <img src="{% static "images/capas/e7.jpg" %}" alt="Template 7">
                            </a>
                        </div>

                        <div class="swiper-slide">
                             <a href="#" class="template-card">
                                <img src="{% static "images/capas/e8.jpg" %}" alt="Template 8">
                            </a>
                        </div>

                        <div class="swiper-slide">
                             <a href="#" class="template-card">
                                <img src="{% static "images/capas/e9.jpg" %}" alt="Template 9">
                            </a>
                        </div>

                    </div>
                    
                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
        </section>

        <section class="showcase">
            <div class="container showcase-grid">
                
                <div class="showcase-content">
                    <h2><span class="h2-2">LabLauncher</span><br>Onde o aprendizado ganha vida.</h2>
                    <p>
                        O Kaizo LabLauncher é mais do que uma plataforma digital, é o coração do ecossistema Kaizo.
                        Ele conecta professores, alunos e laboratórios em um ambiente interativo, com recursos 3D,
                         tutoriais guiados, simuladores, inteligência artificial integrada e suporte pedagógico em tempo real.
                         Com ele, cada aula deixa de ser apenas explicada e passa a ser vivida, explorada e experimentada
                          pelos alunos com autonomia e engajamento.
                    </p>
                </div>
                
                <div class="showcase-animation">
                    <div class="browser-mockup">
                        <div class="browser-bar">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        
                        <video style="width: 100%; height: auto; display: block;" 
                               autoplay 
                               loop 
                               muted 
                               playsinline>
                            <source src="{% static "video/testeLabLauncher.mp4" %}" type="video/mp4">
                            Seu navegador não suporta a tag de vídeo.
                        </video>

                        </div>
                </div>
            </div>
        </section>
        <footer>
        <div class="container">
            
            <div class="footer-grid">
                
                <div class="footer-brand">
                    <a href="#" class="nav-logo">Kaizo Soluções e Tecnologia Ltda</a> 
                    <p>Campo Grande, MS, Brasil</p>
                    <p>contato@kaizo.com.br</p>
                </div>

                <div class="footer-column">
                    <h4>Follow</h4>
                    <ul>
                    <!--
                        <li><a href="#">Todos os Serviços</a></li>
                        <li><a href="#">Construtor Gratuito</a></li>
                        <li><a href="#">Templates Grátis</a></li>
                        <li><a href="#">Análise ATS</a></li>
                    -->
                    </ul>
                </div>

                <div class="footer-column">
                    <h4>Recursos</h4>
                    <ul>
                        <li><a href="{% url 'home' %}">LabLauncher</a></li>
                        <!--
                            <li><a href="#">Exemplos de Currículo</a></li>
                            <li><a href="#">Exemplos de Carta</a></li>
                            <li><a href="#">Blog</a></li>    
                        -->
                    </ul>
                </div>

                <div class="footer-column">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="{% url 'sobre' %}">Sobre Nós</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                        <!--
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Central de Ajuda</a></li>
                        -->

                    </ul>
                </div>

            </div>

            <div class="footer-bottom">
                <p>&copy; 2025 KAIZO. Todos os direitos reservados.</p>
                <p>&copy; 2025 LabLauncher. Todos os direitos reservados.</p>
                <div class="footer-legal-links">
                    <a href="{% url 'termos' %}">Termos de Uso</a>
                    <a href="{% url 'politica' %}">Política de Privacidade</a>
                </div>
            </div>

        </div>
    </footer>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="{% static "js/kaizo_main.js" %}"></script>

</body>
</html>